@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  background: linear-gradient(rgb(226, 208, 208), white, rgb(226, 208, 208));
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  z-index: 1;
}

.modal input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
}

.modal button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.blurred {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}
